@import "../../scss/variables";

.footer{
    margin-inline-start: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 64px);


    .footer-main-wrapper{
        display: flex;
        padding:  4rem min(9%, 6rem);
        justify-content: space-around;
        gap: 5rem;
        background-color: #EFF0EE;
        width: 100%;

        > * {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &:nth-child(1){
                .footer-social-icons{
                    display: flex;
                    gap: 1.3em;
                }

                .outro{
                    max-width: 600px;
                }
            }
            &:nth-child(2){
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 1.35rem;
                    flex-wrap: nowrap;
                    width: max-content;
                }
            }
            &:nth-child(3){
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 1.35rem .6rem;
                    width: max-content;
                }
                
            }
        }
    }

    .attributions{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 1rem;
        background-color: $clr-primary-300;
        color: $clr-neutral-100;

        > :nth-child(1) ul{
            display: flex;
            gap: 2rem;
            list-style: none;

            *{
                cursor: pointer;
            }
        }
    }
}